<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cpsec.zfwx.guodian"
    android:versionCode="5"
    android:versionName="1.0.5">

    <!-- net.cpsec.zfwx.lawyer_recruitment -->
    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="国电青年"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActionActivity"
            android:theme="@style/AppAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5949f2741061d21259000fc2" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.GeRenXinXiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MyCenterActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.FaTieActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MyTieZiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MyTouPiaoActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.FanKuiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.XiuGaiXinXiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.XiangXiZiLiaoActivity"
            android:theme="@style/ImageTranslucentTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ShouCangActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.WenDaActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.XinShengTiWenActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.SouSuoTieZiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.WenTiXiangQiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.PhotoActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.ImageGridActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.TestPicActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".activity.FaBuJianYIActivity" />
        <activity android:name=".activity.QingChunFenXiangDetailActivity" />
        <activity android:name=".activity.TieZiDetailActivity" />
        <activity android:name=".activity.TouPiaoXiangQingActivity" />
        <activity android:name=".activity.ZhuzhijiagouActivity" />
        <activity android:name=".activity.ZhengCeTongZhiDetailActivity" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.TouPiaoDetailActivity" />
        <activity android:name=".activity.SendZhuanJiaActivity" />
        <activity
            android:name=".wbapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.XinShengDetailActivity" />
        <activity android:name=".activity.JianYiDetailActivity" />
        <activity android:name=".activity.CreateGroupActivity" />
        <activity android:name=".activity.PicCheckActivity"></activity>
    </application>

</manifest>