<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cpsec.zfwx.guodian">

    <!-- net.cpsec.zfwx.lawyer_recruitment -->
    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="国电论坛"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActionActivity"
            android:theme="@style/AppAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.GeRenXinXiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MyCenterActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.FaTieActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MyTieZiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.MyTouPiaoActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.FanKuiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.XiuGaiXinXiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.XiangXiZiLiaoActivity"
            android:theme="@style/ImageTranslucentTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ShouCangActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.WenDaActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.XinShengTiWenActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.SouSuoActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.WenTiXiangQiActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.PhotoActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.ImageGridActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.TestPicActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".activity.ZhuzhijiagouActivity"
            android:label="@string/title_activity_zhuzhijiagou"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>